.container{
  width:100%;
  text-align:center;
}

.btn {
  padding: 8px 24px;
  color: white;
  background-color:#b95750;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.roll{
  color:white;
}
.top-wrapper h1{
  color:#50b957;
}
