.container{
  width:100%;
  text-align:center;
}

.btn {
  padding: 8px 24px;
  color: white;
  background-color:#b95750;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  box-shadow:0px 5px #470500;
}

.btn:hover {
  opacity: 1;
}
.btn:active{
  position:relative;
  box-shadow:none;
  top:5px;
}

.roll{
  color:white;
}
.top-wrapper h1{
  color:#50b957;
}

@media all and (max-width: 670px){
  .btn{
    width:80%;
  }
}
